/* Add CSS Styling */
p{
  background-color:rgb(255, 184, 241);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

.second-class{
  font-size: 24px;
}

#firstID{
  color: blue;
  font-size: 36px;
}

#secondID{
  font-size: 24px;
  background-color: rgb(69, 218, 77);
  font-weight: bold;
}