/* Add CSS Styling */

.first-button, .second-button{
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}

.first-button{
  background-color: #000000;
  color: white;
}

.second-button{
  background-color: yellow;
}